<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="col-md-12">
    <h1 class="page-header">Lineup #1</h1>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Analytics</h3>
      </div>
      <div class="panel-body" id="analytics-section">
        <h4 id="analytics-timerange">November 3 - 9</h4>
        <div class="btn-group" id="analytics-timescale">
          <button type="button" class="btn btn-default">Day</button>
          <button type="button" class="btn btn-default">Week</button>
          <button type="button" class="btn btn-default">Month</button>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h4># of users who <span style="color: #0f9ff1;">were served</span> - <span style="color: #e67e22;">never showed up</span></h4>
            <canvas chart="Line" options="chartOptions" data="achalandageChart" width="1080" height="400"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Settings</h3>
      </div>
      <div class="panel-body">
        <form role="form" ng-submit="updateSettings()">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" ng-model="title">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="openingHour">Max number of people in queue</label>
                <input type="text" class="form-control" id="maxInQueue" ng-model="maxInQueue">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="openingHour">Opening hour</label>
                <timepicker ng-model="openingHour" ng-change="openingHourChanged()" hour-step="1" minute-step="5" show-meridian="1"></timepicker>
              </div>
            </div>
            <div class="column-md-6">
              <div class="form-group">
                <label for="closingHour">Closing hour</label>
                <timepicker ng-model="closingHour" ng-change="closingHourChanged()" hour-step="1" minute-step="5" show-meridian="1"></timepicker>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="welcomeMessage">Welcome message</label>
            <input type="text" class="form-control" id="welcomeMessage" ng-model="welcomeMessage">
          </div>
          <button type="submit" class="btn btn-default">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>