<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="col-md-12">
    <h1 class="page-header">{{ lineup.title }}</h1>
    <div class="panel panel-default analytics-container">
      <h3>Analytics</h3>
      <hr>
      <div class="panel-body" id="analytics-section">
        <div class="analytics-date-range">
          <div class="btn-group" id="analytics-timescale">
            <button type="button" class="btn btn-default" ng-model="dateRange" btn-radio="'day'">Day</button>
            <button type="button" class="btn btn-default" ng-model="dateRange" btn-radio="'week'">Week</button>
            <button type="button" class="btn btn-default" ng-model="dateRange" btn-radio="'month'">Month</button>
          </div>
          <h4 id="analytics-timerange" ng-switch="dateRange">
            <span ng-switch-when="day">November 9</span>
            <span ng-switch-when="week">November 3 - 9</span>
            <span ng-switch-when="month">November</span>
          </h4>
        </div>

        <h4 class="analytics-chart-legend"># of users who <span style="color: #85D600;">were served</span> vs. <span style="color: #EE4C41;">never showed up</span></h4>

        <div class="row">
          <div class="col-md-12">
            <canvas chart="Line" options="chartOptions" data="achalandageChart" width="1030" height="380"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default analytics-container settings-container">
      <h3>Settings</h3>
      <hr>
      <div class="panel-body">
        <form role="form" ng-submit="updateSettings()">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" ng-model="title">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="openingHour">Max number of people in queue</label>
                <input type="text" class="form-control" id="maxInQueue" ng-model="maxInQueue">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="openingHour">Opening Hours</label>
                <timepicker class="timepicker" ng-model="openingHour" ng-change="openingHourChanged()" hour-step="1" minute-step="5" show-meridian="1"></timepicker>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="closingHour">Closing Hours</label>
                <timepicker class="timepicker" ng-model="closingHour" ng-change="closingHourChanged()" hour-step="1" minute-step="5" show-meridian="1"></timepicker>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="welcomeMessage">Welcome message</label>
            <input type="text" class="form-control" id="welcomeMessage" ng-model="welcomeMessage">
          </div>
          <button id="save-button" type="submit" class="btn btn-default">Save settings</button>
          <button id="delete-button" type="button" ng-click="deleteLineup()" class="btn btn-danger">Delete this lineup</button>
        </form>
      </div>
    </div>
  </div>
</div>