#analytics-section {
  position: relative;
}

.analytics-container {
    background-color: #FFF;
    padding: 30px;
}

.analytics-container h3 {
    margin-bottom: 30px;
}

#analytics-timescale {
    display: inline-block;
}

#analytics-timerange {
    display: inline-block;
    margin-top: 2px;
    margin-left: 15px;
    font-weight: bold;
}

#analytics-timescale .btn:hover, #analytics-timescale .btn.active, #analytics-timescale .btn:focus, #save-button {
    background-color: #85D600;
    color: white;
}

#save-button {
    margin-top: 20px;
}

.settings-container label {
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 12px;
}

#analytics-timescale .btn {
    box-shadow: none;
}

.settings-container .timepicker { /* space between timepicker boxes */
    border-collapse: separate;
    border-spacing: 10px 5px;
    margin-left: -10px;
}

.settings-container .timepicker tr.text-center { /* hide timepicker arrows */
    display: none;
}