.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
}

#banner h1 {
    font-size: 8em;
    line-height: 1;
    letter-spacing: -1px;
}
.fa-large {
  font-size: 8em;
}
.fa-angle-down {
  padding-top:30px;
  display: block;
  color: white;
}

.intro {
    height: 100%;
    padding: 0 0 30px 0;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background-image: url("/assets/images/background-intro2.jpg");
    background-size: cover;
    background-position: bottom;
}
.intro .container {
    margin-left: auto;
    margin-right: auto;
}
.intro .hero-content {
  width:100%;
  position: absolute;
  top: 40%;
  right: 0;
  left: 0;
}
.intro .hero-inside {
  margin: auto;
  width: 630px;
}
.intro .hero-content .col-md-8 {
  padding: -15;
}
.intro .subtitle {
  font-size: 2em;
  padding-left: 30px;
}
.intro .next {
  position: absolute;
  top: 88%;
  left: 50%;
  cursor: pointer;
  opacity: 0.75;
}

.data-section {
  height: 600px;
  padding: 30px 15px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  color: #21384d;
}
.data-section h1 {
  font-size: 4em;
}

.what {
  height: 450px;
  background-color: white;
}
.what .row {
  padding-top: 90px;
  font-size: 1.5em;
}
.mission {
  background-color: #EAEEF2;
  height: 425px;
}
.mission p {
  font-size: 2em;
  padding-top: 20px;
}
.mission h1 {
  padding-bottom: 50px;
}
.footer {
    text-align: center;
    padding: 30px 0;
    border-top: 1px solid #E5E5E5;
    background-color: white;
}
.footer .container {
  padding-top: 10px;
}

@media only screen and (max-device-width: 992px) {
  .intro .hero-inside {
    margin: auto;
    width: 100%;
    text-shadow: 1.2px 1.2px 1px rgba(0, 0, 0, 0.75);
  }
  .intro .hero-content {
    top: 30%;
  }
  .fa-large {
    font-size: 4em;
  }
  #banner h1 {
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
  .intro {
    padding: 0;
  }
  .intro .next {
    top: 83%;
  }
  .hero-inside .col-md-3, .hero-inside .col-md-9 {
    margin-right: 0;
    margin-left: 30px;
  }
  .what {
    height: 700px;
  }
  .what .row {
    padding-top: 15px;
  }
  .what .col-md-4 {
    padding-top: 30px;
  }
  .mission {
    height: 425px;
  }
  .mission h1 {
    padding-bottom: 25px;
    font-size: 3em;
  }
  .mission p {
    padding-top: 30px;
    font-size: 1.5em;
  }
}
