.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
}

#banner h1 {
    font-size: 8em;
    line-height: 1;
    letter-spacing: -1px;
}
.fa-8x {
  font-size: 8em;
}
.fa-angle-double-down {
  padding-top:30px;
  display: block;
  color: white;
}

.intro {
    height: 100%;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background-image: url("/assets/images/background-intro.jpg");
    background-size: cover;
    background-position: bottom;
}
.intro .container {
    margin-left: auto;
    margin-right: auto;
}
.intro .hero-content {
  width:100%;
  position: absolute;
  top: 40%;
  right: 0;
  left: 0;
}
.intro .hero-inside {
  margin: auto;
  width: 630px;
}
.intro .hero-content .col-md-8 {
  padding: -15;
}
.intro .logo {
  padding-top: 20px;
}
.intro .subtitle {
  font-size: 3.5em;
  padding-left: 30px;
}
.intro .next {
  position: absolute;
  top: 88%;
  left: 50%;
  cursor: pointer;
}

.data-section {
  height: 600px;
  padding: 30px 15px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  color: #21384d;
}
.data-section h1 {
  font-size: 4em;
}

.what {
}
.what .row {
  padding-top: 75px;
  font-size: 1.5em;
}
.mission {
  background-color: #EAEEF2;
}
.mission p {
  font-size: 2em;
}
.mission h1 {
  padding-bottom: 75px;
}
.footer {
    text-align: center;
    padding: 30px 0;
    border-top: 1px solid #E5E5E5;
    background-color: #EAEEF2;
}
