<div class="col-md-12">
  <h1>
  	Welcome to <span >{{checkin.lineupName}}</span>'s check in system
  </h1>
  <h2>Guest List</h2>
  <div class="list-group">
  	<div class = "list-group-item" ng-repeat="guest in checkin.guests">
  		<div class="row" >
			<div class="col-md-4 ">
				<h3 class = "list-group-item-heading">
					<span class="glyphicon glyphicon-user"> </span>{{checkin.fullName(guest)}}
				</h3>
			</div>
			<div class="col-md-4 ">
				<h3><small>Number of seats reserved: </small>{{guest.groupSize}}</h3>
			</div>
			<div class="col-md-4 ">
				<button > <span class = "glyphicon glyphicon-ok"></span>
				</button>
				<button ng-click="DeleteGuest($index)"> <span class = "glyphicon glyphicon-remove"></span>
				</button>
			</div>
		</div>
  	</div>
  </div>
  
</div>
